.up-arrow {
    width: 25px;
    height: 25px;
}
.chat-icon {
    background-color: #fd5b38;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 27px;
    right: 80px;

}
.chat-icon img {
    max-width: 30px;
}